.video-card {

    width: 25vw;
    aspect-ratio: 16/9;
    overflow: visible;
    padding: 10px;


    div {
        width: 25vw;
        height: 100%;
        overflow: hidden;
        transition: 0.3s;

        a {
            div {
                width: 100%;
                border-radius: 10px;
                height: 100%;
                object-fit: cover;
                position: relative;
                overflow: hidden;
            }

            .movie-bg {
                filter: hue-rotate(340deg);
                animation: movie linear infinite;

                .background-linear {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    z-index: 5;
                    left: 0;
                    background: repeating-linear-gradient(
                        rgba(45, 99, 159, 0.2),
                        rgba(45, 99, 159, 0.2) 2px,
                        transparent 2px,
                        transparent 7px
                    );
                    background-size: 100% 100%;

                }
            }

        }
    }

    div:hover {
        scale: 1.1;
        border-radius: 10px;
    }

    .skeleton {
        width: 25vw;
        height: 100%;
        border-radius: 10px;
        background: #333;
        background: linear-gradient(110deg, #333 8%, #444 18%, #333 33%);
        background-size: 200% 100%;
        animation: 0.7s shine linear infinite;

        &:hover {
            scale: none;
        }
    }
}
@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes movie {
    0% {
        background-position: 30% 45%;
        background-size: 200%;
    }

    20% {
        background-position: 42% 54%;
        background-size: 200%;

    }

    20.1%{
        background-position: 80% 80%;
        background-size: 400%;
    }

    40%{
        background-position: 65% 65%;
        background-size: 380%;
    }
    40.1% {
        background-position: 10% 25%;
        background-size: 150%;
    }

    60% {
        background-position: 20% 20%;
        background-size: 150%;
    }
    60.1% {
        background-position: 43% 57%;
        background-size: 250%;
    }

    80% {
        background-position: 60% 34%;
        background-size: 270%;
    }

    80.1% {
        background-position: 80% 15%;
        background-size: 300%;
    }

    100% {
        background-position: 72% 25%;
        background-size: 300%;
    }
}